<h2 id="login_header">Log in</h2>

<% if flash[:danger] %>
<%= flash[:danger] %>
<% end %>

  <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: "search_bar" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "search_bar" %>

    <%= f.submit "Log in", class: "btn" %>

    <% end %>

<div>New user? <%= link_to "Sign up now!", signup_path %></div>
