<h2 id="loginheader">Log in</h2>

<div id="danger"><% if flash[:danger] %>
<%= flash[:danger] %>
<% end %>
</div>

  <div id="form"><%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: "search_bar" %>

    <%= f.label :password %>
    <%= f.password_field :password, class: "search_bar" %>

    <%= f.submit "Log in", class: "btn" %>

    <% end %>
  </div>

<div id="new_user">New user? <%= link_to "Sign up now!", signup_path %></div>
