<h2 class="title">All listings</h2>

<h3> <%= render 'errors' %>
</h3>
<br>

<div>
  <%= form_tag(listings_path, method: :get) do %>
   <div>
     Search for a listing by state
   </div>
   <br>
   <%= text_field_tag :state, nil, placeholder: "NY, CA, etc." %>  <%= submit_tag 'Search'  %> <br> <br>
  <% end %>
</div>


<% @listings.each do |listing| %>
    <%= image_tag(listing.image_url(:thumb).to_s) %><br>
<p>
<%= link_to listing.name, listing %><br><br>
<% end %>
</p>

<% if current_user %>
<%= link_to "Logout", logout_path, method: :delete %>
<% else %>
<%= link_to 'Login', login_path %>
<% end %>
