<div class="listing_container">

  <div id="left">
    <div id="listing_header"><%= @listing.name %></div>
<%= render 'errors' %>
    <div id="listing_image"><%= image_tag(@listing.image_url.to_s) %></div>
  </div>

  <div id="right">
    Listing details:<br>
    Price per night: $<%= @listing.price %><br>
    State: <%= @listing.state %><br>
    City: <%= @listing.city %><br>
    Address: <%= @listing.address %><br>
    <div class="listing_links"> Owner: <%=link_to @listing.user.name, @listing.user %></div>
  </div>

</div>

  <div id="review"><div id="reviews_label">Reviews:</div> <% @listing.reviews.each do |review| %><br>
            Review by: <%= review.user.name %><br>
            Rating: <%= review.rating %>/5<br>
            Description: <%= review.description %><br>
    <% if current_user && current_user.name == review.user.name %>
    <div class="listing_links"><%= link_to 'Edit this review', edit_review_path %></div> |
    <div class="listing_links"><%= link_to 'Delete this review', review_path, method: :delete %></div>
    <% end %>
            <% end %>

  </div>
  <br>
  <br>

<% if current_user != @listing.user && current_user %>
  <p><%= link_to 'Write a review', new_review_path(flash[:listing_id] = @listing.id) %></p>
<% end %>

<% if current_user != @listing.user && current_user %>
  <%=button_to 'Book this place', '/bookings/new', params: {listing_id: @listing.id}, class: "btn"%>
<% end %>


<% if current_user == @listing.user %>
<div class="listing_links"><%= link_to "Edit this listing", edit_listing_path %></div><br>
<% end %>

<% if current_user == @listing.user %>
  <div class="listing_links"><%= link_to "Delete this listing", @listing, method: :delete, data: { confirm: 'Are you sure you would like to delete this listing?'} %></div></br>
<% end %>
