<h2><%= @listing.name %></h2> <br>
<p>
  <%= image_tag(@listing.image_url.to_s) %><br><br>
  Price: $<%= @listing.price %><br>
  State: <%= @listing.state %><br>
  City: <%= @listing.city %><br>
  Address: <%= @listing.address %><br>
  Owner: <%=link_to @listing.user.name, @listing.user %> <br>
  <br>
  <%= link_to "All listings", listings_path %> |

  <p><%= button_to 'Book This Place', '/bookings/new', params: {listing_id: @listing.id}  %></p>
</p>

  <%= link_to "Go back to all listings", listings_path %><br>

  <% if current_user == @listing.user %>
    <%= link_to "Delete this listing", @listing, method: :delete, data: { confirm: 'Are you sure you would like to delete this listing?'} %></br>
  <% end %>
