<h2 class="page_header"><%= @listing.name %></h2> <br>

  <%= render 'errors' %>
      <%= image_tag(@listing.image_url.to_s) %><br><br>

<b>Listing details:</b><br>
  Price per night: $<%= @listing.price %><br>
  State: <%= @listing.state %><br>
  City: <%= @listing.city %><br>
  Address: <%= @listing.address %><br>
  Owner: <%=link_to @listing.user.name, @listing.user %> <br><br>
  <b>Reviews:</b> <% @listing.reviews.each do |review| %><br>
            Review by: <%= review.user.name %><br>
            Rating: <%= review.rating %>/5<br>
            Description: <%= review.description %><br>
    <% if current_user && current_user.name == review.user.name %>
    <%= link_to 'Edit this review', edit_review_path %> |
    <%= link_to 'Delete this review', review_path, method: :delete %>
    <% end %>
            <% end %>
  <br>

<% if current_user != @listing.user && current_user %>
  <p><%= link_to 'Write a review', new_review_path(flash[:listing_id] = @listing.id) %></p>
<% end %>

<% if current_user != @listing.user && current_user %>
  <%=button_to 'Book this place', '/bookings/new', params: {listing_id: @listing.id}, class: "btn"%>
<% end %>


<% if current_user == @listing.user %>
<%= link_to "Edit this listing", edit_listing_path %><br>
<% end %>

<% if current_user == @listing.user %>
  <%= link_to "Delete this listing", @listing, method: :delete, data: { confirm: 'Are you sure you would like to delete this listing?'} %></br>
<% end %>
