<h2 class="page_header">Create an account</h2>

<%= render 'errors' %>

<%= form_for :user, url: '/users' do |f| %>

  <%= f.label :name %></>
  <%= f.text_field :name, class: "search_bar" %><br><br>

  <%= f.label :email %>
  <%= f.text_field :email, class: "search_bar" %><br><br>

  <%= f.label :password %>
  <%= f.password_field :password, class: "search_bar" %><br><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "search_bar" %><br><br>

  <%= f.submit class: "btn" %>

<% end %>
