<h2 class="page_header"><%= @user.name %></h2>

  <% if current_user == @user %>
    <h2 class="sub_header">My Properties</h2>
      <% @user.listings.each do |listing| %>
        <div><%= image_tag(listing.image_url(:thumb).to_s) %></div>
        <div class="listing_links"><%=link_to listing.name, listing %></div><br><br>
      <% end %>

  <div id="add_listing"><%= link_to "Add a listing", new_listing_path %></div>

    <h2 class="sub_header"> My Bookings</h2>
      <div id="bookings_info"><% @user.bookings.each do |booking| %>
        Booking # <%=booking.id  %>:
    <p>
      Name: <%=  Listing.find(booking.listing_id).name %> <br>
      Total: $<%= booking.total %> <br>
      Check-In: <%= booking.check_in_date %> <br>
      Check-Out: <%= booking.check_out_date %> <br>
      Owner: <%= User.find(booking.matched_user_id).name %> <br>
    </p>
      <% end %>
      </div>
      <% else %>
    <p>
      <div class="sub_header">Properties:</div>
        <% @user.listings.each do |listing| %><br><br>
        <%= image_tag(listing.image_url(:thumb).to_s) %><br>
        <div class="listing_links"> <%=link_to listing.name, listing %><br></div>
        <% end %>
    </p>
  <% end %>
