<!DOCTYPE html>
<html>
  <head>
    <title>Shitty Airbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  </head>
  <body>
      <div id="logo">Shitty Airbnb</div>
      <div id="navBar">

        <% if current_user %>
        <%= link_to "All listings", listings_path %> |
            <%= link_to "View profile", current_user %> |
            <a href=" https://www.airbnb.com/">Recommended spots </a> |
            <%= link_to "Last Minute Deals", listings_deals_path %> |
            <%= link_to "Logout", logout_path, method: :delete %>
          <% else %>
            <%= link_to "All listings", listings_path %> |
            <%= link_to "Login", login_path %>
          <% end %>

      </div>
    <div id="body">
      <%= yield %>
    </div>
  </body>
</html>
